.header{
  width:600px;
  margin: 40px auto;
  padding: 50px;
  font-family: sans-serif;
  justify-content: center;  

}

.timer{
  width:300px;
  font-size: 150px;
  border: 2px solid red;
  padding-left: 40px;
  box-sizing: border-box;
}

button{
  width:95px;
  font-size: bold;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 20px;
}